main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square {
    height: 200px;
}

h1 {
    font-size: 5em !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
}

button {
    font-size: 3em !important;
    font-weight: bold;
    padding: 15px 45px;
    margin: -10px 10px 30px 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 2cm;
}

h2 {
    font-size: 3em !important;
    font-weight: bold;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}